<div class="footer">
   <div>
      <h2>Social</h2>
      <p>GitHub -&gt; <a href="https://github.com/hnasheralneam">@hnasheralneam</a></p>
      <p class="faded-footer">See what I'm working on</p>
      <p>LinkedIn -&gt; <a href="https://www.linkedin.com/in/hnasheralneam">LinkedIn</a></p>
      <p class="faded-footer">For professional connections</p>
      <p>Professional -&gt; <a href="https://professional.hnasheralneam.dev">Profile</a></p>
      <p class="faded-footer">Polished resume website</p>
   </div>
   <div>
      <h2>Contact</h2>
      <p>Email -&gt; <a href="mailto:hnasheralneam@gmail.com">hnasheralneam@gmail.com</a></p>
      <p>Discord -&gt; <a href="#">scoreoutofbounds</a></p>
      <p>Instagram -&gt; <a href="https://www.instagram.com/hnasheralneam">hnasheralneam</a></p>
   </div>
   <script defer src="https://umami.hnasheralneam.dev/script.js" data-website-id="a68bac4f-5777-4cfc-a051-32021faf0f07"></script>
</div>
