<div class="footer">
   <div>
      <h2>Social</h2>
      <p>GitHub -> <a href="https://github.com/hnasheralneam">@hnasheralneam</a></p>
      <p class="faded-footer">See what I'm working on</p>
      <p>LinkedIn - > <a href="https://www.linkedin.com/in/hnasheralneam">LinkedIn</a></p>
      <p class="faded-footer">For professional connections</p>
   </div>
   <div>
      <h2>Contact</h2>
      <p>Email -> <a href="mailto:hnasheralneam@gmail.com">hnasheralneam@gmail.com</a></p>
      <p>Discord -> <a href="#">namegoes.here</a></p>
   </div>
</div>