<div class="menu">
   <div>
      <div class="item">
         <a href="index.html" title="home">
            <img src="icons/home.svg" alt="home">
         </a>
      </div>
      <div class="item">
         <a href="projects.html" title="projects">
            <img src="icons/web_stories.svg" alt="projects">
         </a>
      </div>
      <div class="item">
         <a href="thoughts.html" title="thoughts">
            <img src="icons/rss_feed.svg" alt="thoughts">
         </a>
      </div>
      <div class="item">
         <a href="guestbook.html" title="guestbook">
            <img src="icons/developer_guide.svg" alt="guestbook">
         </a>
      </div>
   </div>
</div>