* {
   box-sizing: border-box;
   -ms-overflow-style: none;
}
 
*::-webkit-scrollbar {
   display: none;
}

.page {
   position: relative;
   height: 100vh;
   width: 100vw;
}

.page-viewport {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   overflow-x: scroll;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
   overflow: hidden;
}

.page-section {
   position: relative;
   height: 100vh;
   flex: 0 0 100%;
   width: 100%;
   overflow: auto;
}

/* body {
   background-color: #fbfbfb;
} */

.movebtn {
   position: absolute;
   bottom: 0;
   margin: .75rem;
   width: 4rem;
   height: 4rem;
   font-size: 12px;
   outline: 0;
   border-radius: 2rem;
   background-color: #fbfbfb;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: -.2rem -.2rem .4rem #ffffff,
               .2rem .2rem .4rem #eeeeee;
}

.movebtn span {
   font-size: 2.5rem;
   color: #bdbdbd;
}

.next-section { right: 0; }

.navigator-button {
   display: inline-block;
   width: 8rem;
   border: 0.25rem solid transparent;
   border-radius: 10vh;
   font-family: "Nunito";
   transition: 0.2s;
}

.navigator-button:hover {
   box-shadow: inset 0 .1rem .175rem #f4f4f4,
               0 .1rem .1rem #eee;
}

.navigator-inner {
   box-shadow: -.2rem -.2rem .4rem #fff,
               .2rem .2rem .4rem #eee;
}