* {
    font-family: "Nunito", "Times New Roman", Times, serif;
}

body {
    overflow-x: hidden;
}

.content {
    transition: .2s;
    margin: auto;
    max-width: 80rem;
    transition: .2s;
}

h2 {
    position: relative;
    margin: 1rem .75rem .75rem 2.5rem;
    font-size: 1.5rem;
    transition: .2s;
}

h3 {
    margin: .75rem 0 0 2rem;
}

a {
    color: var(--theme-color);
}

.guestbook {
    padding-top: 2rem;
    position: relative;
    margin: 0 .4rem;
}

.messages {
    display: grid;
    grid-template-columns: 50% 50%;
}

.guestbook * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.guestbook .messages {
    margin: 1rem 0;
    text-align: center;
}

.guestbook .messages::-webkit-scrollbar {
    display: none;
  }

.guestbook .card {
    margin: 0 .3rem;
    min-height: 14rem;
    border: solid .2rem var(--theme-color);
    border-radius: 1rem;
    white-space: wrap;
    vertical-align: top;
    margin-bottom: .8rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--theme-color), transparent 95%);
    position: relative;
}

.guestbook .card .message {
    margin: 0;
    font-size: 1.4rem;
}

.guestbook .card .name {
    text-decoration: none;
}

.guestbook .card .name:hover {
    text-decoration: underline;
}

.guestbook .card i {
    font-size: .9rem;
    color: #888;
    font-style: italic;
}

.guestbook .buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .4rem;
}

.guestbook .buttons div {
   display: inline-block;
}

.guestbook .show-all-messages {
    margin: auto;
    text-align: center;
}

.guestbook .guestbook-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-family: inherit;
    margin: .5rem;
}

.new-message-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee88;
    backdrop-filter: blur(.2rem);
    pointer-events: none;
    opacity: 0;
    transition: .2s;
}

.new-message {
    padding: 2rem;
    border-radius: 2rem;
    background-color: #ddddddaa;
    box-shadow: 0 0 .2rem #999;
    backdrop-filter: blur(.5rem);
    text-align: center;
}

.new-message .message-header {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.new-message textarea {
    min-width: 20rem;
    min-height: 6rem;
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    border: solid .2rem #aaa;
    color: #222;
    transition: .2s;
}

.new-message textarea:focus {
    outline: none;
    border-color: var(--theme-color);
}

.new-message .text-label {
    margin: 4rem;
}

.new-message input.text {
    padding: .3rem .6rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    border: solid .2rem #aaa;
    color: #222;
    transition: .2s;
}

.new-message input.text:focus {
    outline: none;
    border-color: var(--theme-color);
}

.new-message input[type="submit"] {
    padding: .3rem .6rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: var(--theme-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.new-message input[type="submit"]:active {
    transform: scale(.95);
}

@media only screen and (min-width: 1400px) {
   .messages {
      grid-template-columns: 33.3% 33.3% 33.3%;
   }
}

@media only screen and (max-width: 750px) {
   .guestbook {
      margin: 0;
   }
   .messages {
      grid-template-columns: auto;
   }
   .guestbook .card {
      margin: .4rem 1.5rem;
   }
   .guestbook .guestbook-title {
      margin: 2rem 1.5rem;
   }
}

@media (prefers-color-scheme: dark) {
    .new-message-container {
        background-color: #00000088;
    }

    .new-message {
        background-color: #222222aa;
        box-shadow: 0 0 .2rem #444;
    }

    .new-message textarea {
        background-color: #111;
        border: solid .2rem #333;
        color: #fff;
    }
    .new-message input.text {
        background-color: #111;
        border: solid .2rem #333;
        color: #fff;
    }
}
